@font-face
{
    font-family: "Kievit Slab Pro Thin";
    src: url("./assets/fonts/thin.woff2");
}

@font-face
{
    font-family: "Kievit Slab Pro Thin Italic";
    src: url("./assets/fonts/thinitalic.woff2");
}

@font-face
{
    font-family: "Kievit Slab Pro Extralight";
    src: url("./assets/fonts/extralight.woff2");
}

@font-face
{
    font-family: "Kievit Slab Pro Extralight Italic";
    src: url("./assets/fonts/extralightitalic.woff2");
}

@font-face
{
    font-family: "Kievit Slab Pro Light";
    src: url("./assets/fonts/light.woff2");
}

@font-face
{
    font-family: "Kievit Slab Pro Light Italic";
    src: url("./assets/fonts/lightitalic.woff2");
}

@font-face
{
    font-family: "Kievit Slab Pro";
    src: url("./assets/fonts/regular.woff2");
}

@font-face
{
    font-family: "Kievit Slab Pro Italic";
    src: url("./assets/fonts/regularitalic.woff2");
}

@font-face
{
    font-family: "Kievit Slab Pro Medium";
    src: url("./assets/fonts/medium.woff2");
}

@font-face
{
    font-family: "Kievit Slab Pro Medium Italic";
    src: url("./assets/fonts/mediumitalic.woff2");
}

@font-face
{
    font-family: "Kievit Slab Pro Bold";
    src: url("./assets/fonts/bold.woff2");
}

@font-face
{
    font-family: "Kievit Slab Pro Bold Italic";
    src: url("./assets/fonts/bolditalic.woff2");
}

@font-face
{
    font-family: "Kievit Slab Pro Extrabold";
    src: url("./assets/fonts/extrabold.woff2");
}

@font-face
{
    font-family: "Kievit Slab Pro Extrabold Italic";
    src: url("./assets/fonts/extrabolditalic.woff2");
}

@font-face
{
    font-family: "Kievit Slab Pro Black";
    src: url("./assets/fonts/black.woff2");
}

@font-face
{
    font-family: "Kievit Slab Pro Black Italic";
    src: url("./assets/fonts/blackitalic.woff2");
}

@font-face
{
    font-family: "Selawik";
    src: url("./assets/fonts/selawik.woff2");
}

body
{
    box-sizing: border-box;
    font-family: "Kievit Slab Pro", serif;
    margin: 0;
    padding: 0;
}

#content
{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

#search-and-course-list-area
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
}

@media (max-width: 1279px)
{
    body
    {
        box-sizing: border-box;
        font-family: "Kievit Slab Pro", serif;
        margin: 0;
        padding: 48px 0;
    }
}